[Desktop Entry]
Name=Synergy
Comment=configuring client of Synergy
Exec=/home/jonny/bin/softkvmc.sh
Icon=quicksynergy
Terminal=false
Type=Application
Categories=Utility;
X-GNOME-Autostart-enabled=true
